openai
pygame
edge-tts==6.1.6
langid
aiohttp
asyncio
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
protobuf
protobuf_inspector
requests
websocket-client
langchain==0.0.142
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
webuiapi
pyvirtualcam
numpy
faiss-cpu
sentence_transformers
pydub
send2trash
pypinyin
sparkdesk-api
gradio_client
schedule
pyhandytools
curl_cffi
zhipuai
bardapi