aiohttp
asyncio
openai
pygame
edge-tts==6.1.6
langid
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
requests
webuiapi
pyvirtualcam
numpy
faiss-cpu
sentence_transformers
pydub
send2trash
pypinyin
sparkdesk-api
gradio_client
schedule
bilibili-api-python
bilibili-api
langchain==0.0.142
pyhandytools
curl_cffi