openai
pygame
edge-tts==6.1.6
langid
aiohttp
asyncio
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
protobuf
protobuf_inspector
requests
websocket-client
websocket-client-py3
langchain==0.0.142
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
webuiapi
pyvirtualcam
numpy
faiss-cpu
sentence_transformers
pydub
send2trash
pypinyin
sparkdesk-api
gradio_client
schedule
playwright
protobuf==3.20.0
certifi
charset-normalizer
greenlet
idna
lxml
pyee
typing_extensions
urllib3
pyhandytools
curl_cffi
zhipuai
bardapi