bilibili-api==9.1.0
bilibili-api-python
openai
pygame
edge-tts
langid
aiohttp
asyncio
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
langchain==0.0.142
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
requests
webuiapi
pyvirtualcam
numpy
faiss-cpu