openai
pygame
edge-tts
langid
aiohttp
asyncio
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
protobuf
protobuf_inspector
requests
websocket-client
langchain==0.0.142
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
requests
webuiapi
pyvirtualcam
numpy