aiohttp
asyncio
openai
pygame
edge-tts==6.1.6
langid
slack_sdk==3.21.3
profanity==1.1
elevenlabs
PyPDF2
PyQt5
pyqt5-tools
tiktoken
pyahocorasick
requests
webuiapi
pyvirtualcam
numpy
faiss-cpu
sentence_transformers
pydub
send2trash
langchain==0.0.142
keyboard
PyAudio
SpeechRecognition
baidu-aip
chardet
pypinyin
sparkdesk-api
gradio_client
schedule